li{
    display: inline;
    border-color: black;
    background-color: red;
    color: white;
    text-align: center;
    padding: 10px;
    border-style: solid;
    border-width: 2px;
}

.aqua{
    color:lightskyblue;
}

.blue{
    color:blue;
    font-weight: bold;
}

.brown{
    color:brown;
    font-weight: bold;
}

body {
    background-color: lightyellow;
    font: caption;
}