table, th, td{
    padding: 2px;
    border: 1px solid black;
    border-collapse: collapse;
    border-color:grey;
}

th, h1{
    background-color: rgb(0, 6, 125);
    color:white;
    text-align: center;
}

.right{
    text-align: right;
}

h1{
    border-radius: 10px;
}

tr:nth-child(even) {
    background: #CCC
}

tr:nth-child(odd) {
    background: #FFF
}