table, th, td{
    padding: 2px;
    border: 1px solid black;
    border-collapse: collapse;
    border-color:grey;
}

th, h1{
    background-color: rgb(2, 20, 77);
    color:white;
    text-align: center;
}

.right{
    text-align: right;
}

h1{
    border-radius: 10px;
}