div  {
    background-color: rgb(0, 6, 125);
    color: white;
    border-radius: 10px;
    text-align: center;
    width: 40%;
}

li {
    background-color: white;
    border-color: black;
    color: black;
    border-collapse: separate;
    padding: 1rem;
    margin: 1rem;
}

ul {
    list-style-type:none;
    display: inline-block;
    padding: 0;
}

li:hover {
    background-color: yellow;
}

body {
    cursor: pointer;
}